aiobotocore
aiohttp==3.7.3
aioitertools==0.7.1
async-timeout==3.0.1
attrs==20.3.0
boto3
botocore
certifi==2020.12.5
chardet==3.0.4
docutils==0.15.2
fsspec==0.8.5
idna==2.10
jmespath==0.10.0
multidict==5.1.0
numpy==1.19.4
pandas==1.1.5
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.1
s3fs==0.5.2
s3transfer==0.3.3
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.25.11
wrapt==1.12.1
yarl==1.6.3
